<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">


</head>

<body>
    <h3 id="search" class="text-center">Search Movie</h3>
    <form action="/results" method="GET" class="justify-content-center d-flex">
        <input type="text" name="search" class="form-control w-25" placeholder="Search Movie Here">
        <button type="submit" class="btn btn-danger ml-3">Search Movie</button>
    </form>

</body>

</html>